section{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    margin-top: 6rem;
    text-align: right;
}

.skills--icons{
    height: 40px;
    width: 40px;
}

.figma--icon{
    height: 40px;
    width: 30px;
}

.tech--section{
    display: flex;
    align-items: center;
    gap: 17px;
    overflow: auto;
    text-align: right;
}

.tools--section{
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: right;
}

.left-content {
    float: left;
    width: 50%;
  }

  .left-content h2{
    color:#A7BBC7;
    font-weight: bold;
  }
  
  .right-content {
    display: flex;
    text-align: right;
  }
  
  .right-content img:not(:last-child) {
    margin-right: 1.1rem;
  }
  
  #github-icon:hover{
    color: #A7BBC7;
  }

  #linkedin-icon:hover{
    color: #A7BBC7;
  }

  .about--box--two{
    text-align: right;
  }

  .about--box--two h3{
    color: #DA7F8F;
  }

  #github-icon{
    font-size: 55px;
    color: black;
  } 