.section{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
    color: #A7BBC7;
}

.project--one , .project--two{
        display: flex;
        align-items: center;
        height: 18rem;
        width: 100%;
        justify-content: space-between;
        overflow: hidden;  
        gap: 6rem;
        color: #DA7F8F;
}

.project--img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
}

.screenshot:hover{
    border: 3px solid #A7BBC7;
}

.screenshot{
    height: 230px;
    width: 410px;
    border-radius: 2px;
    border: 3px solid whitesmoke;
}

.project--describtion p{
    color: black;
    border: 1px solid black;
    padding: 5px;
}

.project--describtion a{
    color: #DA7F8F;
    cursor: pointer;
    text-decoration: none;
}

.project--describtion a:hover{
    color:#A7BBC7;
}

.project--paragraphs{
    margin-left: 2rem;
    display: flex;
    gap: 10px;
}

@media (max-width: 767px) {
    .section {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        height: 100vh;
        color: #A7BBC7;
      }
      
      .project--one,
      .project--two {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        width: 100%;
        justify-content: flex-start;
        overflow: hidden;
        gap:  1px;
        color: #DA7F8F;
      }
      
      .project--img {
        width: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        margin-left: 0;
      }
      
      .screenshot:hover {
        border: 3px solid #A7BBC7;
      }
      
      .screenshot {
        height: auto;
        width: 100%;
        max-width: 150px;
        border-radius: 2px;
        border: 3px solid whitesmoke;
      }
      
      .project--describtion p {
        color: black;
        border: 1px solid black;
        padding: 5px;
      }
      
      .project--paragraphs {
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
      
}