.App {
  text-align: center;
  
}

.container--app {
  display: flex;
  color: #A7BBC7;
}

.content--app {
  margin-left: 20rem; 
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 4rem ;
}

#frame{
    position: absolute;
    top: 45px;
    bottom: 45px;
    left: 45px;
    right: 45px;
    width: calc(100% - 90px);
    height: calc(100% - 90px); 
    border: 1px solid black;
}

.background{
    animation: scroll 800s linear infinite;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("https://images.unsplash.com/photo-1602475063211-3d98d60e3b1f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1557&q=80") center center;
    opacity: .1;
    width: 100%;
    height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
